Title: PostTemplate
Date: 
Category: Fresh Dance Music
Tags: 
Slug: 
Author: Łukasz Siwiński
Summary: Summary

<a href ="#" 
    title="Fresh Dance Music - T_ITLE" target="_blank">
**DOWNLOAD**
</a>

TRACKLIST:  

* track 1...

All tracks are available to buy on <a href="http://itunes.apple.com/pl/" target="_blank">iTunes</a>.
Enjoy.